
/*HTML elements*/
BODY
{
	font-family: Arial;
	background: #9BD7FB url(../images/bg.jpg) no-repeat top center;
}
P
{
	margin-top: 10px !important;
	margin-bottom: 10px !important;
}
A:link, A:visited, A
{
	color: #3EB4FC;
	text-decoration: none;
}
A:hover
{
	text-decoration: underline;
}
/*Header*/
#site-name
{
	font-family: Arial;
	font-size: 31px;
	font-weight: bold;
	letter-spacing: -1px;
	line-height: normal;
}
#slogan
{
	font-family: Arial;
	font-size: 14px;
	color: #FFF;
}
#search-region
{
	top: 10px;
}
#search-region INPUT
{
	width: 200px;
	font-family: Arial;
	padding: 3px;
	font-size: 14px;
	color: #666;
}
#site-name A
{
	color: #FFF !important;
}
#site-menu
{
	text-align: left;
	margin-top: 10px;
	margin-left: 0;
	padding-right: 0;
	margin-right: 0;
}

/*Branding*/
#branding
{
	margin-top: 20px;
	margin-bottom: 20px;
}


IMG#logo
{
	margin-right: 15px;
	margin-bottom: 5px;
	float: left;
}
#site-header
{
	padding-top: 10px;
}

/*Navigation*/
/*Main menu*/
UL.main-menu LI
{
	float: left;
	list-style-image: none;
	list-style-type: none;
	padding: 10px 20px;
	background: url(../images/line-primary.gif) repeat-y right top;
}
UL.main-menu
{
	background: #FEFEFE url(../images/bg-primary.jpg) repeat-x left bottom;
	overflow: hidden;
	border: 1px solid #CCC;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	padding-left: 10px;
	padding-right: 10px;
}
UL.main-menu LI A
{
	color: #666;
	font-size: 14px;
	font-weight: bold;
}
UL.main-menu LI A:hover
{
	color: #1285DA;
	text-decoration: none;
}
/*Secondary menu*/
UL.secondary-menu
{
	padding: 10px;
	overflow: hidden;
	font-size: 11px;
	float: right;
	margin-top: 10px;
	margin-bottom: 0;
}
UL.secondary-menu LI
{
	float: left;
	list-style-type: none;
	list-style-image: none;
	margin-left: 10px;
}
UL.secondary-menu LI A
{
	background: #B6EEFF;
	padding: 6px 10px;
	color: #1285DA;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
UL.secondary-menu LI A:hover
{
	background: #1285DA;
	color: #B6EEFF;
	text-decoration: none;
}

#main-content-container
{
	background: #FFF;
	padding-top: 20px;
}


/*Breadcrumb*/
#internal-nav
{
	background: #FFF;
}
.breadcrumb
{
	font-size: 12px;
	padding-bottom: 10px;
	padding-top: 10px;
}

/*Sidebar*/
.sidebar .block H2
{
	background: #FFF url(../images/bg-block-title.jpg) repeat-x left bottom;
	font-family: Arial;
	text-transform: uppercase;
	font-size: 14px;
	color: #32B0FA;
	border-bottom: 1px solid #CCC;
	padding: 5px 10px;
}
.sidebar .block
{
	border: 1px solid #CCC;
}
.sidebar .block .content
{
	padding: 10px;
}

/*Headings*/
H1, H2, H3, H4, H5, H6
{
	font-family: Arial;
}

H1.title
{
	font-family: Arial;
	font-size: 30px;
}
/*Preface*/
#preface-wrapper H2
{
	font-size: 14px;
	background: #ABDEFD;
	color: #FFF;
	text-transform: uppercase;
	padding: 2px 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
#preface-wrapper
{
	background: #60C0FA;
	margin-bottom: 15px;
	color: #FFF;
	padding-top: 15px;
	padding-bottom: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
/*Main content*/
#main-content-container
{
	border-top: 10px solid #D8F0FE;
}
/*Postscript*/
#postscript-wrapper
{
	color: #FFF;
	background: #5BF;
	padding-bottom: 10px;
	padding-top: 15px;
}
#postscript-wrapper H2
{
	background: #29F;
	font-size: 14px;
	text-transform: uppercase;
	padding: 2px 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
/*Node Teasers*/
.block H2
{
	font-size: 26px;
}
.node
{
	border-bottom: 1px solid #CCC;
}
/*Node basic elements*/
.submitted
{
	color: #666;
	font-size: 11px;
	margin-bottom: 5px;
}
/*Tags*/
.field-name-field-tags DIV.field-item
{
	float: left;
	margin-right: 10px;
	background: #EEEEEE url(../images/tags.png) no-repeat 5px center;
	padding: 5px 10px 5px 20px;
	font-size: 11px;
	border: 1px solid #CCC;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin-bottom: 10px;
	margin-top: 10px;
}
.field-name-field-tags DIV.field-item A
{
	color: #000;
}
/*Footer*/
#footer-wrapper
{
	background: #DDDDDD url(../images/bg-footer.jpg) repeat-x;
	border-top: 10px solid #E6E6E6;
	padding-top: 20px;
	overflow: hidden;
	padding-bottom: 20px;
	border-bottom: 1px solid #CCC;
	-moz-border-radius-bottomleft: 12px;
	-moz-border-radius-bottomright: 12px;
}
#footer-wrapper H2
{
	font-size: 14px;
	background: #ACDFFE;
	text-transform: uppercase;
	padding-left: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	color: #FFF;
}
.credits, .credits A
{
	font-size: 11px;
	color: #D8F0FE;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: right;
}
.credits A:hover
{
	text-decoration: underline;
}
/*Grid*/
.container-12 .grid-12, .container-16 .grid-16
{
	width: 960px;
}
